VITE_API_BASE_URL=https://15.207.112.236.sslip.io
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=khatu-shyam-7452d.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=khatu-shyam-7452d
VITE_FIREBASE_STORAGE_BUCKET=khatu-shyam-7452d.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=191548396096
VITE_FIREBASE_APP_ID=
